/* Comment dingetjes */

div.commentBlogView { display: block; text-align: right; padding-top: 6px; padding-bottom: 6px; margin-top: 4px; margin-bottom: 4px; clear: both; }
div.show-comment, div.show-linkmore, div.show-hit, div.show-feed, div.show-report, div.show-voteup, div.show-votedown, div.show-vote { display: inline; float: right; height: 18px; padding: 1px; text-indent: 24px; margin-left: 4px; margin-right: 4px; background-repeat: no-repeat; background-position: 0pt 50%; background-image: url('comments.gif'); }
div.show-comment { background-image: url('comments.gif'); }
div.show-linkmore { background-image: url('page_go.gif'); }
div.show-hit { background-image: url('chart_bar.gif'); }

/* Template

@charset "utf-8";

/*****************************/
/*** Core html setup stuff ***/
/*****************************/

/***IE 6 SHITE **************/
img, div { behavior: url(iepngfix.htc) }

html {
  height: 100%;
  /*margin-bottom: 1px;*/
}

form {
  margin: 0;
  padding: 0;
  border: 0px;
}
 
fieldset {
	border: 0px;	
}

#form-login {
	border-left-width:thick;
}

body {
	background-image: url(images/background.png);
	background-repeat:repeat-x;
	font-family: Helvetica,Arial,sans-serif;
	/*line-height: 1.3em;*/
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #333;
	background-color:#101a30;
}
a:link, a:visited {
	color:#0066CC;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
}

input.button { cursor: pointer; }

p { margin-top: 0; margin-bottom: 5px; }

img { border: 0 none; }

/*****************************/
/*** Template  setup stuff ***/
/*****************************/

#container {
	width: 991px;
	padding-top: 15px;
	position: relative;
	height: auto;
	margin: 0 auto;
	/*padding-left: 5px;*/
}

#shadowcontainer {
	padding: 0;
	margin: 0;	
	position: relative;
	width: 991px;
	height: auto;;
}

#innercontainer {
	padding-left: 7px;
	position: relative;
	top:0px;
	left: 0px;
}

#topbar {
	background-image: url(images/frame_top.png);
	height: 35px;
	width: 991px;
}

#fontsize {
	float:right;
	padding-top: 2px;
	padding-right: 10px;
	font-size:12px;
	line-height: 1;
	color: #DDDDDD;
}
#fontsize a:link, #fontsize a:visited {
	color: #DDDDDD;
}

#fontsize a:hover {
	color: #FFFFFF;
	text-decoration: none;
}


#fontsize .smaller{
	font-size:28px;
}

#fontsize .reset{
	font-size:15px;
	font-weight: bold;
}

#fontsize .larger{
	font-size:20px;
}

.moduletable_rss {
	float: right;
	padding-top: 12px;
	padding-right: 6px;
	width: 30px;
	text-align
	font-size:12px;
	line-height: 1.4;
}

.moduletable_rss span{
	position: relative;
	top: -3px;
	/*color: white;*/
}



.moduletable_rss a:link, .moduletable_rss a:visited{
	color: #DDDDDD;
	font-size: 11px;
}

.moduletable_rss a:hover{
	color: gray;
	text-decoration: none;
}

#splash {
	background-image: url(../images/splash.jpg);
	height: 142px;
	width: 977px;
}

#splash_overlay {
	background-image:url(../images/splash_overlay.png);
	position:absolute;
	left: 7px;
	top: 0px;
	width: 977px;
	height: 142px;
	visibility: visible;
	z-index:99;
}
#splash_overlay_forum {
	background-image:url(../images/splash_overlay.png);
	position:absolute;
	left: 7px;
	top: 0px;
	width: 977px;
	height: 142px;
	visibility: visible;
	z-index:99;
}

#menubar {
	background-image: url(images/menubar.png);
	background-repeat: repeat;
	height: 33px;
	width: 977px;
}

#banner_topwide{
	width: 977px;
margin: 0;
padding: 0;	
}

#banner_content{
	width: 747px;
	margin-left: 0px;
	padding-right:8px;
	padding-top: 0px;
	padding-bottom: 5px;
	float: right;
}
#flash_coverflow {
	display: none;
}
#flash_splash {
	display: none;
}


#menubarshadow {
	background-image: url(images/menubar_shadow.png);
	background-repeat:no-repeat;
	background-color: #FFFFFF;
	width: 977px;
	height: 7px;
}


#message {

	background:none;
	background-color: #FFFFFF;
	max-width: 977px;

}
#contentmain {
	background-color: #FFFFFF;
	width: 977px;
	min-height: 100px;
	padding: 0px;
	padding-left: 0px;
	padding-top:4px;
}

#shadowleft {
	background-image: url(images/frame_shadow_left.png);
	background-repeat: repeat-y;
	position: absolute;
	height: 100%;
	width: 7px;
	left: 0px;
}
#shadowright {
	background-image: url(images/frame_shadow_right.png);
	background-repeat: repeat-y;
	position: absolute;
	height: 100%;
	width: 7px;
	left: 984px;
}

#contentbottom {
	height: 22px;
	width: 991px;
	background-image: url(images/frame_bottom.png);
}

#leftmenu {
	width: 210px;
	float:left;
	padding-left: 10px;
	font-size: 12px;

	/*height: 100%;*/
	/*margin-left: 10px;*/
	/*margin-top: 10px;*/
}

#banner_vertical {
	margin-top: 10px;
}

#content, #contentfull, #contentforum{
	width: 747px;
	margin-left: 0px;
	padding-right:8px;
	padding-top: 2px;
	float: right;
	/*height:auto;*/
	line-height: 1.6;
}
	
#area {
	padding: 0;
	width: 970px;
	alignment-adjust: central;
}

#contentfull {
	width: 937px;;
}

#contentforum {
	width: 937px;;
	margin-left: 0px;
	float: none;
}

#footer {
	background-image: url(images/separator.gif);
	background-repeat: repeat-x;
	background-position: 0px 8px;
	width: 977px;
	background-color: white;
	text-align: center;
	font-size: 10px;
	line-height: 1.4;
	overflow: visible;
	height: 33px;
}

/* horizontal menu */
#menubarmenu {
  white-space: nowrap;
  height: 33px;
}

#menubarmenu ul {
  margin: 0;
  padding: 0;
  list-style:none;
}



#menubarmenu li {
	float: left;
/*	background: url(../images/mw_menu_separator.png) top right no-repeat; */
	  background: url(images/menubar_separator.png) top right no-repeat;
	margin: 0;
	padding: 0;

}



#menubarmenu a {
  font-size: 12px;
  font-weight: bold;
  float:left;
  display:block;
  height: 33px;
  line-height: 28px;
  color: #FFF;
  text-decoration: none;
  /*width: 79px;*/
    padding: 0 20px;
  text-align: center;
}

#menubarmenu a:hover {
	background-image:url(images/menubar_hover.png);
}

#menubarmenu a:active {
	background-image:url(images/menubar_down.png);
}

/*#menubarmenu li#current {
	background-image:url(../images/menubar_down.png);
}*/

.module{
	border: none;
}

div.module_menu h3, div.module_box h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #eee;
	margin: -20px -4px 5px -5px;
	padding-left: 10px;
	/*padding-top: -20px;*/
	padding-bottom: 10px;
	font-size:12px;
	line-height: 1.4;
}

/*div.module_box h3 {
	padding-top: -20px;
	padding-bottom: 10px;
}*/

div.module_menu, div.module_box  {
	margin: 0;
	padding: 0;
	margin-bottom: 0px;
	width: 201px;
	font-size:12px;
	line-height: 1.4;

}

div.module_menu div div div, div.module_box div div div {
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 10px;
	width: auto;
	font-size:12px;
	line-height: 1.4
}


div.module_menu div div div div, div.module_box div div div div  {
	background: none;
	padding: 0;
	line-height: 1.4
}

div.module_menu, div.module_box {
	background: url(images/box_br_b.png) 100% 100% no-repeat;
}

div.module_menu div, div.module_box div {
	background: url(images/box_bl_b.png) 0 100% no-repeat;
}

div.module_menu div div, div.module_box div div {
	background: url(images/box_tr_b.png) 100% 0 no-repeat;
}

div.module_menu div div div, div.module_box div div div {
	background: url(images/box_tl_b.png) 0 0 no-repeat;
}

div.module_rss {
	padding-left: 15px;
	padding-top: 5px;
}

/*.module_menu h3{
	background-image:url(../images/titlebar.png);
	color:white;
	text-indent: 10px;
	padding-bottom:7px;
	padding-top: 5px;
}

.module_menu{
	width: 193px;
	background-image:url(../images/box_bottom.png);
	background-position:bottom;
	padding-bottom:15px;
	background-repeat:no-repeat;
	margin-bottom: 10px;}

.module_menu div div div{
	background-image:url(../images/box_background.png);
	margin-bottom: -6px;
}

.module_menu div, .module_menu div div {
	padding-top: 0px;
	margin-top: 0px;
}

*/

.module_menu ul {
  margin: 0;
  padding-left: 6px;;
  padding-right: 10px;
  list-style:none;
  margin-top: -12px;
        heigth:20px;

}

.module_menu li {

	margin: 0;
	padding-left: 10px;;
	border-bottom:solid;
	border-bottom-color:#EEEEEE;
	border-bottom-width:thin;
	padding-top: 3px;
	margin-top: -3px;
	font-size:12px;
	line-height: 1.4;
}
	
.module_menu li ul li {
	width: 100%;
	text-indent: 25px;
	border:none;
        height:75%

}

.module_menu ul li ul{
margin-top: 0px;

}


.module_menu a {
		font-weight:bold;
	display:block;
	background-image:url(images/menuarrow_up.png);
	padding-bottom:4px;
	padding-top:4px;
	margin-top:3px;
	background-position:right;
	background-repeat:no-repeat;
	color: #333333;
        font-weight: normal;
}

.module_menu li ul li a{
	width: 100%;
	background-position:left;
}


.module_menu a:hover{
	color:#003366;
	text-decoration:none;
	background-image:url(images/menuarrow_down.png);
}

.module_menu #current a{
	background-image:url(images/menuarrow_down.png);
}

table.nopad {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	margin-bottom: 0px;
}

form input[type="text"], form input[type="password"] {
	background-image:url(images/textbox_transp.png);
	background-color: transparent !important;
	border: 0px; 
	height: 19px;
	width: 142px;
	padding: 0px;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;

}

#wrap form input[type="text"], #wrap form input[type="password"] {
	background-image: none;
	background-color: white !important;
	border-width: thin;
	border-style: solid;
	border-color: #b4bac0;
}

#jc_commentFormDiv form input[type="text"] {
	background-image:none;
	border :1px;
	border-style: solid;

}

/*#mod_login_remember.inputbox {
	width:auto;
	height: auto;;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	maring-top: 0px;
	margin-bottom: 0px;
}*/

/*span#mod_login_remembermetext label {
	position: relative;
	top: -3px;
	font-size: 9px;
}

#mod_loginform input.inputbox {
	margin-bottom: 5px;
}*/

#mod_search_searchword.inputbox {
	background-image:url(images/searchbox.png);
	font-size: 10px;
	border: 0px;
	height: 24px;
	width: 103px;
	float: right;
	padding: 0px;
	padding-top: 9px;
	padding-left: 25px;
	padding-right: 17px;
}

form .button {
	background-image:url(../images/button_up_transp.png);
	background-color: transparent !important;
	font-family: Calibri;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 13px;
	border: 0px;
	height: 23px;
	width: 76px;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	margin-bottom: 3px;
	margin-top: 4px;

}

#mod_loginform input.button {
	position: relative;
	top: -22px;
	left: 89px;
}


form .button:hover {
	background-image:url(images/button_hover_transp.png);
	color:#ffffff;
}

form .button:active {
	background-image:url(images/button_down_transp.png);
}

.clr {
	clear: both;
}


.article_separator{
	background-image:url(images/separator.gif);
	background-repeat: repeat-x;
}
#coverflow_separator{
	width:738px;
	float: right;
	margin-right:14px;
}


.pagination{
  margin: 0;
  padding: 0;
  list-style:none;
}


.pagination li {
	margin: 0;
	padding: 0;
	float: left;
}


.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 16px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #9aafe5;
text-decoration: none; 
color: #2e6ab1;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: #FFFF80;
}

.pagination a.currentpage{
background-color: #2e6ab1;
color: #FFF !important;
border-color: #2b66a5;
font-weight: bold;
cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}

.pagination a.prevnext{
font-weight: bold;
}

.smallauthor {
	font-size: .80em;
	line-height: .8em;
	color: #999;
	font-weight: normal;
	text-align: left;
	padding-top: 5px;
}

.dateblock_small{
	font-size: .80em;
	line-height: .9em;
	color: #000;
	font-weight: normal;
	text-align: center;	
}

.dateblock_large{
	font-size: 1.6em;
	line-height: 1.0em;
	color: #000;
	font-weight: bold;
	text-align: center;	
}

.date_box{
	background-image:url(images/date_box.gif);
	height: 40px;
	width: 40px;
	padding-top: 5px;
	padding-bottom: 0px;
	overflow: hidden;
}

#form-login div img{
	border-width: thin;
	border-style: solid;
}
/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

div.offline {
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

span.pathway {
  display: block;
  margin: 0 20px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
}

/* headers */
div.componentheading {
  padding-left: 0px;
}

h1 {
	padding: 0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	color: #666;
	text-align: left;
	width: 100%;
}

h2, .contentheading {
	padding: 0;
	font-family: Calibri, Arial, Helvetica,sans-serif;
	font-size: 2em;
	font-weight: bold;
	vertical-align: bottom;
	color: #333;
	text-align: left;
	width: 100%;

}

.contentheading a{
	font-family: Calibri, Arial, Helvetica,sans-serif;
	font-weight: bold;
	color: #0055BB;
}

.contentheading a:hover{
	color: #333;
}


h6 {
	font-size: 12px;
	font-style:normal;
	font-weight:normal;
	padding-top: 0px;
	margin-top: 0px;
}

h6:first-letter {
font-size:400%; 
float:left;
line-height: .9em;
padding-top: .1em;
}


#jevents .contentheading {
	font-size: 0px;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

h3, .componentheading, table.moduletable th, legend {
  margin: 0;
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
 /* font-size: 1.5em;*/
  padding-left: 0px;
	margin-bottom: 10px;
	text-align: left;
}

/* small text */
.small {
	font-size: .80em;
	line-height: .8em;
	color: #999;
	font-weight: normal;
	text-align: left;
}

.modifydate {
  height: 20px;
  vertical-align: bottom;
	font-size: .80em;
	color: #999;
	font-weight: normal;
	text-align: left;
	line-height: .8em;
}

.createdate {
/*	height: 20px;*/
	vertical-align: top;
	font-size: .80em;
	color: #999;
	font-weight: normal;
	vertical-align: top;
	padding-bottom: 8px;
	padding-top: 0px;
	line-height: .8em;

}

a.readon {
	margin-top: 10px;
	display: block;
	float: left;
	background: url(images/mw_readon.png) top right no-repeat;
	padding-right: 20px;
	line-height: 14px;
	height: 16px;
}

/* form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }


/** overlib **/

.ol-foreground {
	background-color: #f6f6f6;
}

.ol-background {
	background-color: #666;
}

.ol-textfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.ol-captionfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f6f6f6;
	font-weight: bold;
}
.ol-captionfont a {
	color: #0B55C4;
	text-decoration: none;
	font-size: 12px;
}

.ol-closefont {}

/* menu links */
a.mainlevel:link, a.mainlevel:visited {
	padding-left: 5px;
}

a.mainlevel:hover {

}

/* spacers */
span.article_separator {
	display: block;
	height: 20px;
}

.article_column {
	padding-right: 5px;
}

.column_separator {
	border-left: 1px dashed #e0e0e0;
	padding-left: 10px;
}

td.buttonheading {

}

td.buttonheading img {
	border:none;
}

.clr {
	clear: both;
}

td.greyline {
  width: 0px;
  /* background: url(../images/mw_line_grey.png) 50% 0 repeat-y; */
}

div#maindivider {
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  overflow: hidden;
  height: 1px;
}

table.blog span.article_separator {
	display: block;
	height: 20px;
}

/* edit button */
.contentpaneopen_edit{
	float: left;
}

/* table of contents */
table.contenttoc {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

table.contenttoc td {
  padding: 0 5px;
}


/* content tables */
td.sectiontableheader {
  background: #efefef;
  color: #333;
  font-weight: bold;
  padding: 4px;
  border-right: 1px solid #fff;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
  padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  padding: 3px;
}


/* content styles */
table.contentpaneopen, table.contentpane {
	margin: 0;
	padding: 0;
	width: 731px;
}

table.contentpaneopen li {
	margin-bottom: 5px;
}

table.contentpaneopen fieldset {
	border: 0;
	border-top: 1px solid #ddd;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

table.contentpaneopen h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

.highlight {
	background-color: #fffebb;
}


/* forms */
table.adminform textarea {
  width: 540px;

  height: 400px;
  font-size: 1em;
  color: #000099;
}


form#form-login fieldset { border: 0 none; margin: 0em; padding: 0.2em;}
form#form-login ul { 
	/*position:relative;
	left: -10px; */
}

/* thumbnails */
div.mosimage         {  margin: 5px; }
div.mosimage_caption {  font-size: .90em; color: #666; }

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #666; text-align: center; }

/* Parameter Table */
table.paramlist {
	margin-top: 5px;
}

table.paramlist td.paramlist_key {
	width: 128px;
	text-align: left;
	height: 30px;
}

table.paramlist td.paramlist_value {
}

div.message {
	font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14px;
	color : #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.bannergroup {
}

.banneritem img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Text advert style */

.banneritem_text {
	padding: 4px;
	font-size: 11px;
}

.bannerfooter_text {
	padding: 4px;
	font-size: 11px;
	background-color: #F7F7F7;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

/* Polls */
.pollstableborder td {
	text-align: left;
}

/* WebLinks */
span.description {
	display:block;
	padding-left: 30px;
}

/* Frontend Editing*/
fieldset {
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 15px;
}

legend {
	margin: 0;
	padding: 0 10px;
}

td.key {
	border-bottom:1px solid #eee;
	color: #666;
}

/* Tooltips */

.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message { margin-bottom: 0px; margin-top: 0px; }

#system-message dd.message ul { background: #C3D2E5 url(images/notice-info.png) 4px center no-repeat;}

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding-left: 40px; text-indent:0px;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E; margin:0px}

#syndicate{
	float:left;
	padding-left: 25px;
}

#power_by{
	float:right;
	padding-right: 25px;
}

/* Component Specific Fixes */

#component-contact table td {
	padding: 2px 0;
}
