.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -16px 0; } 
.rating-30 { background-position: -32px 0; }
.rating-20 { background-position: -48px 0; }
.rating-10 { background-position: -64px 0; }
.rating-0 { background-position: -80px 0; }
 
.rating-5  { background-position: -64px -22px; }
.rating-15 { background-position: -48px -22px; }
.rating-25 { background-position: -32px -22px; }
.rating-35 { background-position: -16px -22px; }
.rating-45 { background-position: 0 -22px; }