#hide {
    display:none;
}
 
.rating input {
    position:absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    cursor:pointer;
    width:17px;
}
 
.rating span {
    width:24px;
    height:16px;
    line-height:16px;
    padding:1px 16px 1px 0; /* 1px FireFox fix */
    margin-left: 5px;
    background:url(leostar2.png) no-repeat -16px 0;
}
 
/* Change span immediately following the checked radio */
 
.rating input:checked + span {
    background-position:-16px 0;
}
 
/* Reset all remaining stars back to default background.
   This supersedes the above due to its ordering. */
 
.rating input:checked + span ~ span {
    background-position:0 0;
}