
{% load staticfiles %}
{% load ext %}


<!DOCTYPE html>
<html>{# possibly add lang='en' #}
	<head>
		<meta charset='utf-8'>
		
		<title>{% block title %}{{ TITLE_BASE }}{% endblock title %}</title>
		
        {% include 'default_css_js.html' %}
		<script src='{% static 'mu3_script.js' %}'></script>
		<script src='{% static 'base_script.js' %}'></script>
        
		{% block header %}
		{% endblock header %}
	</head>
	<body>
		<div id='menu_bar'>
			{% include 'menu.html' %}
		</div>
		<div id='page'>
			<div id='content'>
				{% block content %}
					
					empty document
					
				{% endblock content %}
			</div>
			<div id='footer'>
				{% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>


